@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    background-color: #4285F4;
}
table {
    width: 840px;
    margin: auto;
}

h1 {
    text-align: center;
}